footer {
    background-color: #464547;
    box-sizing: border-box;
    height: 199px;
    padding: 37px 140px 0 153px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-container * {
    margin: 0;
    padding: 0;
}

.project-logo {
    align-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: start;
    align-items: center;
    display: flex;
}

.project-logo div {
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding-left: 16px;
}

.contacts {
    align-self: start;
    justify-self: start;
    grid-column: 3/5;
    grid-row: 1/2;
}

.e-mail {
    align-self: start;
    grid-column: 3/5;
    grid-row: 2/3;
}

.copyright {
    justify-self: end;
    grid-column: 6/8;
    grid-row: 2/3;
}

.contacts,
.copyright,
footer a:-webkit-any-link {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}

@media (max-width: 768px) {
    footer {
        height: 290px;
    }

    .grid-container {
        display: block;
        margin: 0 auto;
        padding: 58px 0 75px 0;
        text-align: center;
    }

    .project-logo {
        justify-content: center;
    }

    .contacts {
        margin-top: 31px;
    }

    .e-mail {
        margin-top: 18px;
        margin-bottom: 19px;
    }

    /* .project-logo,
    .e-mail,
    .copyright,
    .contacts {
        display: block;
    } */
}
