/* Headline block */

.headline {
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 90px 143px 50px 150px;
}

.headline h1 {
    color: #464547;
}

.headline h2 {
    color: #666666;
}

div.container p {
    width: 410px;
}

.headline button {
    border-radius: 18px;
    width: 115px;
    height: 36px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

/* Learn more block */

.learn-more {
    background: rgba(140, 79, 42, 0.3);
    box-sizing: border-box;
    height: 666px;
    position: relative;
}

.learn-more h1 {
    padding-top: 90px;
}

.video {
    background-image: url(../assets/Learn_more_background.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlap {
    background: rgba(140, 79, 42, 0.3);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.learn-more button {
    border-radius: 50%;
    font-size: 60px;
    height: 145px;
    margin-bottom: 65px;
    padding-bottom: 10px;
    padding-left: 25px;
    width: 145px;
}
